bertopic==0.17.4
gensim==4.4.0
matplotlib==3.10.8
nltk==3.9.3
numpy==2.4.4
pandas==3.0.2
pyLDAvis==3.4.1
pyLDAvis==3.4.1
scikit_learn==1.8.0
scipy==1.17.1
sentence_transformers==5.2.3
spacy==3.8.11
statsmodels==0.14.6
nbformat==5.10.4